rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /community_reports/{reportId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.resource.data.author == resource.data.author;
    }
  }
}
